* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000 !important;
    color: #fff !important;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Banner.css */
.banner-container {
    width: 100%;
    margin: 1px auto;
    overflow: hidden;
    padding: 4px auto;
    box-sizing: border-box;
}

.banner-slide {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 100%;
    height: 30rem !important;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffa9;
    text-shadow: 2px 2px 8px rgba(182, 171, 16, 0.7);
    text-align: center;
}

.banner-content:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffc107a2;
    text-shadow: 2px 2px 8px rgba(143, 139, 139, 0.7);
    text-align: center;
}

.banner-content h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.banner-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.banner-content h2,
.banner-content p {
    animation: bounceText 2s infinite;
}

@keyframes bounceText {

    0%,
    100% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-50px);
        /* Move text upwards */
    }
}

.banner-content h2 {
    animation: bounceText 2s infinite;
    animation-delay: 0s;
}

.banner-content p {
    animation: bounceText 2s infinite;
    animation-delay: 0.5s;
}

.banner-content h2 {
    animation: bounceText 1s ease-in-out;
    animation-fill-mode: forwards;
}

.banner-content p {
    animation: bounceText 2s ease-in-out;
    animation-fill-mode: forwards;
}



/* 404 page not found  */
.position-relative {
    background-image: url('http://localhost:5173/images/page.jpg');
    background-size: cover;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrap {
    position: relative;
    z-index: 9999;
    color: #fff;
    text-align: center;
    /* padding-top: 10%; */
}

.text-center-loader {
    margin-left: 50%;
}

/* Home page  section  css */
.home-card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    color: #000;
}

.shadow-card-box {
    box-shadow: rgba(255, 193, 7, 0.1) 9px -2px 6px 2px, rgba(250, 233, 183, 0.6) 5px 6px 5px -2px
}

.slider-container {
    padding: 20px;
    background-color: #1b1b1bb9;
    border-radius: 8px;
}

.home-cards-wrap {
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.home-cards-wrap:hover {
    transform: scale(1.05);
}

.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.home-movie-img-size {
    height: 250px;
    object-fit: cover;
    border-bottom: 3px solid #c2bdbd;
}

.card-body {
    padding: 15px;
}
.home-rating-position {
    display: flex;
    position: absolute;
    bottom: 125px;
    right: 10px;
}

.circular-progress {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000ab;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-circle {
    width: 100%;
    height: 100%;
    transform: rotate(70deg);
    
}

.circle-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 3.9;
}

.circle-progress {
    fill: none;
    stroke: #ffbb00;
    stroke-width: 3.9;
    stroke-linecap: round;
    transition: stroke-dasharray 0.s ease-in-out;
}

.progress-percentage {
    position: absolute;
    font-size: 0.699rem;
    font-weight: bold;
    color: #e0e0e0;
}



/* Mobile Adjustments */
@media (max-width: 768px) {
    .home-movie-img-size {
        height: 200px;
    }

    .card-body h6 {
        font-size: 0.9rem;
    }

    .home-card-description {
        font-size: 0.8rem;
    }
}




/* single movie detail page css */
.detail-icon-color {
    color: #ffc107;
}

.detail-card-overview {
    background-color: #000000a6 !important;
}

/* cardlist page */
.card-list-movie-rating {
    display: inline-block;
    height: 40px;
    width: 38px;
    padding: 4px;
    background-color: #ffc107;
    border-radius: 50%;
    z-index: 1;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    bottom: 75px;
    left: 235px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 6px, rgba(0, 0, 0, 0.23) 0px 8px 6px;
}

.card-list-rating-position {
    position: absolute;
}

.card-list-movie-img-size {
    height: 40vh;
    width: 100% !important;
}


/* movie details page  */
.movie-cast-crew-img-size {
    height: 20vh;
    width: 100% !important;
    /* object-fit: cover; */
}


/* cast crew slick slider page  */
.view-more-card {
    height: 37vh !important;
    text-align: center;
    padding: 70px 0px 10px 5px;
}


/* cast crew detail page  */
.cast-crew-detail-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    transform: rotateY(0deg);
    animation: fadeInUp 1.5s ease-in-out;
}

.image-container {
    flex: 1;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.05) rotateY(10deg);
}

.details-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal-info {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.biography {
    margin-top: 1rem;
}

/* button {
    background-color: #fd7e14;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  } */

.read-less-more-wrap:hover {
    color: #ffc107;
}

.read-less-more-wrap {
    color: #ffc107a2;
    padding-left: 10px;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Full-screen modal style */



/* Modal Overlay */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark background for the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content Styling */
.image-modal {
    position: relative;
    padding: 20px;
    /* border-radius: 10px; */
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow: hidden;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.image-modal:focus-visible {
    outline: none;
}

.modal-image {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}


.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.close-modal-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}